<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a *ngIf="!hardcodedAuth.isUserLoggedIn()" routerLink="/register" class="navbar-brand">register</a></div>
        <ul class="navbar-nav">
            <li><a routerLink="/about" class="nav-link">About</a></li>
            <li><a routerLink="/help" class="nav-link">Help</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardcodedAuth.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardcodedAuth.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>

<!-- hardcodedAuth.isUserLoggedIn() can be done in the .ts file but the value for the variable which 
    we created and assigned the isUserLoggedIn will be only initialized once when the page is loaded. 
    So due to this when ever we navigate to and forth or logout, 
    then also the other buttion will be visible like logout/login etc as this menu.component.ts 
    won't be refreshed. That is the reason we are authenticating as part of button/anchor click
-->