<H2>welcome {{name}}!</H2><br>
<!-- <button type="button" (click)="showProfilePage()">showProfile</button><br><br> -->
<br><br>
<h3>Account Details:</h3>

<table class="table">
    <thead>
        <th>Account Type</th>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Transactions</th>
    </thead>
    <tbody>
        <tr *ngFor="let account of accountDetails">
            <td>{{account.accountType}}</td>
            <td>{{account.accountNumber}}</td>
            <td>{{account.balance}}</td>
            <td><button type="button" class="btn-warning" (click)="viewTransactions(account.id)">View
                    Transactions</button></td>
        </tr>
    </tbody>
</table>